.Score-card {
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px;
    color: white;
    font-size: 25px;
}

.Score-card .score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 50px;
    background-color: #EE4872;
    border-radius: 50%;
    margin: 10px;
    padding: 33px 0px;
    font-size: 30px;
    font-weight: bold;
}


@media screen and (max-width: 400px){
    .Score-card{
        font-size: 12px;
        width: 150px;
        flex-direction: column;
    }

    .Score-card .score{
        font-size: 14px;
        width: 30px;
        height: 20px;
        padding: 5px 0px;
    }
}

@media screen and (min-width: 401px) and (max-width: 500px){
    .Score-card{
        padding: 0px;
        font-size: 14px;
    }

    .Score-card .score{
        font-size: 14px;
        width: 30px;
        height: 20px;
        padding: 5px 0px;
    }
}