* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.create-room {
  margin: 0 auto;
  margin-top: 1%;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.create-room h2 {
  margin-bottom: 5%;
}

.form-select {
  padding: 10px 5px;
  font-size: 18px;
  outline: none;
}

.button {
  align-self: center;
}

option {
  padding: 10px;
  font-size: 18px;
}

.input-form-field {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}

#questions-number {
  padding-left: 10px;
}

#players-number {
  padding-left: 10px;
}

.soldier-image {
  width: 350px;
  text-align: center;
  margin: 0 auto;
}

.create-title-image {
  margin-bottom: 1%;
}

.create-room .create-room-errors {
  color: red;
}

.create-room div:nth-of-type(2){
  height: 75px;
}

@media only screen and (min-width: 100px) and (max-width: 320px){
  .create-room{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 10px;
  }

  #username-field{
    font-size: 14px;
  }

  .create-room img{
    text-align: center;
    align-self: center;
    width: 230px; 
  }

  .form-select{
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .form-select option{
    font-size :14px;
  }

  .input-form-field{
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
  }
}


@media only screen and (min-width: 321px) and (max-width: 515px){
  .create-room{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 10px;
  }

  #username-field{
    font-size: 14px;
  }

  .create-room img{
    text-align: center;
    align-self: center;
    width: 230px; 
  }

  .form-select{
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .form-select option{
    font-size :14px;
  }

  .input-form-field{
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
  }
}


@media only screen and (min-width: 515px){
    .form-select{
      margin-bottom: 15px;
    }
} 
