.Result {
    position: relative;
    background-color: #016780;
    color: white;
    padding: 10px 0px;
    border-radius: 17px;
    margin: 7px 0px;
    font-size: 25px;

    text-align: center;
}

@media screen and (max-width: 510px){
    .Result{
        width: auto;
        font-size: 15px;
        white-space: nowrap;
        padding: 5px;
        width: 100%;
    }
}
