.Leaderboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Leaderboard-header button:hover {
    background-image: none;
}

/* .Leaderboard-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    height: 500px;
} */

.three-guards{
    display: flex;
    margin: 0 auto;
}