.Leaderboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Leaderboard-header button:hover {
    background-image: none;
}

/* .Leaderboard-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    height: 500px;
} */

.three-guards{
    display: flex;
    margin: 0 auto;
}

@media screen and (max-width: 820px){
    .Leaderboard-header{
        width: 40%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        flex-direction: column !important;
    }

    .Rounded-button{
        padding: 5px !important;
    }

    .Rounded-button button{
        font-size: 13px !important;
        margin: 0 !important;
        width: 100px !important;
    }

    .Score-filter{
        margin: 5px !important;
        display: flex !important;
        flex-direction: column;
        justify-content: center !important;
    }

    .Score-filter-by{
        font-size: 12px !important;
    }
}
