*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.Question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.Question button{
    align-self: center;
}