*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.Question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.Question button{
    align-self: center;
}

@media screen and (max-width: 500px){
    .Question h1{
        font-size: 15px;
        width: 90%;
        text-align: center;
        align-self: center;
    }
}