.animated-title{
    margin-top: 2%;
    height: 220px;
}

@media only screen and (min-width: 200px) and (max-width: 320px){
    .animated-title{
        width: 230px;
        height: 100px;
    }
  }

@media only screen and (min-width: 321px) and (max-width: 420px) {
    .animated-title{
        width: 280px;
        height: 100px;
    }
  }

@media only screen and (min-width: 421px) and (max-width: 620px) {
    .animated-title{
        width: 380px;
        height: 150px;
    }
  }

